<!DOCTYPE html>
<html>
<head>
    <script>
        {#load data from python#}
        var items = JSON.parse('{{ data | tojson | safe}}');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {#    styles#}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="{{ url_for('static', filename='tabulator/tabulator_modern.min.css') }}" rel="stylesheet">

    <title>Inventory</title>
</head>
<body>

{#item adder#}
<div class="sidenav">
    <div class="head">
        Add Item
    </div>
    <form action="add_item" class="Adder" method="post">
        <div class="Adder">
            <label for="Name">Name: </label>
            <input id="Name" name="name" required>
        </div>
        <div class="Adder">
            <label for="Make">Make: </label>
            <input id="Make" name="make" required>
        </div>
        <div class="Adder">
            <label for="Model">Model: </label>
            <input id="Model" name="model" required>
        </div>
        <div class="Adder">
            <label for="ID">ID: </label>
            <input id="ID" name="ID" required>
        </div>
        <div class="Adder">
            <label for="Room">Original Room: </label>
            <input id="Room" name="room" required>
        </div>
        <div class="Adder">
            <label for="Teacher">Teacher: </label>
            <input id="Teacher" name="teacher" required>
        </div>
        <div class="Adder">
            <label for="condition">Condition</label>
            <select id="condition" name="condition" required>
                <option value="Very Good">Very Good</option>
                <option value="Good">Good</option>
                <option value="Ok">Ok</option>
                <option value="Bad">Bad</option>
                <option value="Very Bad">Very Bad</option>
            </select>
        </div>
        <div class="Adder">
            <label for="Manual">Link to PDF of Manual or state None: </label>
            <input id="Manual" name="manual" required>
        </div>
        <div class="Adder">
            <label for="movable">Movable?</label>
            <input id='movable' type='checkbox' value='Yes' name='movable'>
            <input id='movablehidden' type='hidden' value='No' name='movable'>
        </div>
        <div class="Adder">
            <label for="description">Description: </label>
            <textarea id="description" name="description" rows="5" cols="16"></textarea>
        </div>

        <input class="styled" type="submit" value="Submit">
    </form>
</div>

<div class="main">
    <h2>DataBase</h2>
    {#    search box#}
    <div class="search">
        Search:
        <input name="Search" id="Search" required>
    </div>
    {#    database#}
    <div id="database" class="data"></div>

    {#    database buttons#}
    <div class="inline">
        <input class="styled" type="submit" value="Checkout" id="checkout">
        <input class="styled" type="submit" value="View History" id="history">
    </div>
</div>
{#scripts#}
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tabulator/tabulator.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='alerts/sweetalert.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='util.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>