<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Inventory</title>
</head>
<body>

<div class="sidenav">
    <div class="head">
        Add Item
    </div>
    <form action="add_item" class="Adder" method="post">
        <div class="Adder">
            <label for="Name">Name: </label>
            <input id="Name" name="name" required>
        </div>
        <div class="Adder">
            <label for="Make">Make: </label>
            <input id="Make" name="make" required>
        </div>
        <div class="Adder">
            <label for="Model">Model: </label>
            <input id="Model" name="model" required>
        </div>
        <div class="Adder">
            <label for="ID">ID: </label>
            <input id="ID" name="ID" required>
        </div>
        <div class="Adder">
            <label for="Room">Original Room: </label>
            <input id="Room" name="room" required>
        </div>
        <div class="Adder">
            <label for="Teacher">Teacher: </label>
            <input id="Teacher" name="teacher" required>
        </div>
        <div class="Adder">
            <label for="condition">Condition</label>
            <select id="condition" name="condition" required>
                <option value="5">Very Good</option>
                <option value="4">Good</option>
                <option value="3">Ok</option>
                <option value="2">Bad</option>
                <option value="1">Very Bad</option>
            </select>
        </div>
        <div class="Adder">
            <label for="Manual">Link to PDF of Manual or state None: </label>
            <input id="Manual" name="manual" required>
        </div>
        <div class="Adder">
            <label for="movable">Movable?</label>
            <input id='movable' type='checkbox' value='Yes' name='movable'>
            <input id='movablehidden' type='hidden' value='No' name='movable'>
        </div>
        <div class="Adder">
            <label for="description">Description: </label>
            <textarea id="description" name="description" rows="5" cols="16"></textarea>
        </div>

        <input class="styled" type="submit" value="Submit">
    </form>
</div>

<div class="main">
    <h2>DataBase</h2>
    <div class="search">
        <form action="search" class="Adder" method="post">
            <div class="search">
                <input name="Search" id="Search" required>
            </div>
            <div class="submit">
                <input class="styled" type="submit" value="Search">
            </div>
        </form>
    </div>
    <p></p>
    <table class="table" id="database">
        <tr>{% for header in headers %}
            <th> {{header}}</th>
            {% endfor %}
        </tr>
        {% for item in items %}
        <tr>{% for attribute in item %}
            <td> {{attribute}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        <!--[INDEX]-->
        <!--    Example Table-->
        <!--        <tr>-->
        <!--            <th>Firstname</th>-->
        <!--            <th>Lastname</th>-->
        <!--            <th>Age</th>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <td>Jill</td>-->
        <!--            <td>Ja</td>-->
        <!--            <td>asdf</td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <td>Eve</td>-->
        <!--            <td>Jackson</td>-->
        <!--            <td>94</td>-->
        <!--        </tr>-->
    </table>
    <form action="checkout" class="Adder" method="post">
        <input class="styled" type="submit" value="Checkout">
    </form>
</div>
    <script type="text/javascript" src="{{url_for('static', filename='jquery-3.4.1.min.js')}}"></script>
    <script type=text/javascript src="{{url_for('static', filename='util.js')}}"></script>

</body>
</html>